<h2>Create new cryptid form</h2>
<form action="/cryptids" method="POST">
	<label for="name">
		<input type="text" name="name">
	</label>
	<label for="img_url">
		<input type="text" name="img_url">
	</label>
	<input type="submit" value="Add Cryptid">
</form>